.blog {
  padding: 4rem 0;
}
.center {
  width: 80vw;
  margin: 0 auto;
}
.blog h1,
.blog h4 {
  text-transform: uppercase;
  font-size: 1.2rem;
}
.post {
  margin: 2rem 0;
}
.post img {
  max-width: 70vw;
}

.rich {
  background: red;
}

.blogtitle {
  text-transform: uppercase;
  font-size: 1.2rem;
}
