.blog {
  padding: 4rem 0;
}
.center {
  width: 80vw;
  margin: 0 auto;
}
.blog h1 {
  font-size: 2rem;
}
.blog h4 {
  text-transform: uppercase;
}
.post {
  margin: 2rem 0;
  line-height: 2rem;
  word-spacing: 0.2rem;
}
.post img {
  max-width: 70vw;
}

.rich {
  background: red;
}

.blogtitle {
  text-transform: uppercase;
  font-size: 1.2rem;
}

.btn {
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 4px;
  color: #fffdff;
  border: 2px solid #fffdff;
  padding: 0.9rem 1.6rem;
  display: inline-block;
  transition: all 0.3s linear;
  cursor: pointer;
}

.btn:hover {
  background: transparent;
  color: #cb322b;
}
