.template {
  padding: 4rem 0;
}
.center {
  width: 80vw;
  margin: 0 auto;
}
.images {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  margin-bottom: 2rem;
}
.image {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.25),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  transition: all 0.3s linear;
}

.image:hover {
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.6);
  transform: translateY(-5px);
}

.template h2 {
  text-transform: capitalize;
  letter-spacing: 4px;
  margin-bottom: 1rem;
}
.info {
  display: flex;

  justify-content: center;
}
.info p {
  display: flex;
  align-items: center;
  margin-right: 2rem;
  text-transform: capitalize;
}
.icon {
  color: #cb322b;
  font-size: 1.4rem;
  margin-right: 0.5rem;
}
.desc {
  line-height: 2;
}
.template h4 {
  text-transform: capitalize;
}
.template h1 {
  margin: 2rem 0;
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;

  background-image: linear-gradient(to right, #cb322b, #481e20);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all 0.2s;
}

.btnwrapper {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
}

.btnprimary {
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 4px;
  color: #cb322b;
  border: 2px solid #cb322b;
  padding: 0.9rem 1.6rem;
  transition: all 0.3s linear;
  cursor: pointer;
}

.btnprimary:hover {
  transform: translateY(-5px);

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
}
