.businesses {
  padding: 4rem 0;
  text-align: center;
}
.center {
  width: 80vw;
  margin: 3rem auto;
  display: grid;
  grid-template-columns: repeat(1fr);
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
}
@media screen and (min-width: 978px) {
  .center {
    grid-template-columns: repeat(2, minmax(368.66px, 1fr));
  }
}

.centerbutton {
  width: 300px;
  margin: 0 auto;
}

.btnwrapper {
  margin: 6rem 0 0 0;
}

.btnprimary {
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 4px;
  color: #cb322b;
  border: 2px solid #cb322b;
  padding: 0.9rem 1.6rem;
  display: inline-block;
  transition: all 0.3s linear;
  cursor: pointer;
}

.btnprimary:hover {
  transform: translateY(-5px);

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
}
