.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  max-height: 400px;
  font-size: 2em;
  overflow: hidden;

  background: linear-gradient(to right, #481e20 0%, #cb322b 100%) center/cover
    fixed no-repeat;
  color: #fff;
}

.section-headline {
  font-size: 1000rem;
  text-align: center;
}
