body {
  background-color: #fff;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  max-height: 400px;
  font-size: 2em;
  overflow: hidden;

  background: linear-gradient(to right, #481e20 0%, #cb322b 100%) center/cover
    fixed no-repeat;
  color: #fff;
}

.wrapper {
  text-align: center;
}

.title {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #cb322b, #481e20);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all 0.2s;
}
