.navigation__checkbox {
  display: none;
}

.navigation__button {
  background-color: #fff;
  height: 4rem;
  width: 4rem;
  position: fixed;
  top: 4rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
}
@media only screen and (max-width: 56.25em) {
  .navigation__button {
    top: 4rem;
    right: 4rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .navigation__button {
    top: 1rem;
    right: 2rem;
  }
}

.navigation__background {
  position: fixed;
  z-index: 1000;
  height: 4em;
  width: 4rem;
  border-radius: 50%;
  top: 4rem;
  right: 6rem;
  background-color: rgba(0, 0, 0, 0.8);
  transition: transform 0.1s cubic-bezier(0.11, 0, 0.07, 1);
}
@media only screen and (max-width: 56.25em) {
  .navigation__background {
    top: 4rem;
    right: 4rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .navigation__background {
    top: 1rem;
    right: 2rem;
  }
}

.navigation__nav {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.1s cubic-bezier(0.3, -0.55, 0.265, 1.55);
}

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
}

.navigation__item {
  margin: 1rem;
}

.navigation__link:link,
.navigation__link:visited {
  display: inline-block;
  font-size: 2rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(
    120deg,
    transparent 0%,
    transparent 50%,
    #481e20 1%
  );
  background-size: 230%;
  transition: all 0.4s;
}

.navigation__link:hover,
.navigation__link:active {
  background-position: 100%;
  color: #fff;
  transform: translateX(0.5rem);
}

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(100);
}

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%;
}

.navigation__icon {
  position: relative;
  margin-top: 1.9rem;
}
.navigation__icon,
.navigation__icon::before,
.navigation__icon::after {
  width: 2rem;
  height: 1.5px;
  background-color: #444;
  display: inline-block;
}
.navigation__icon::before,
.navigation__icon::after {
  content: '';
  position: absolute;
  left: 0;
  transition: all 0.3s;
}
.navigation__icon::before {
  top: -1rem;
  transformation-orgin: right;
}
.navigation__icon::after {
  top: 1rem;
}

.navigation__button:hover .navigation__icon::before {
  top: -1.5rem;
}

.navigation__button:hover .navigation__icon::after {
  top: 1.5rem;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg);
}

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg);
}
