.footer {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  flex-shrink: 0;
  padding: 1rem 0;
  background: #242223;
}

.icons {
  width: 10em;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  color: white;
  padding-top: 1rem;
}

.icon {
  color: #fffdff;
  font-size: 1.3rem;
  transition: all 0.5s ease-in-out;
}

.icon:hover {
  color: #cb322b;
}

.title {
  text-align: center;
  width: 10rem;
  color: #fffdff;
  margin: 0 auto 2rem auto;
  padding: 0.4rem 1rem;
  font-size: 1.35rem;
}

.copyright {
  color: #fffdff;
  text-align: center;
  margin: 1rem auto;
  text-transform: capitalize;
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  margin: 2rem auto;
  letter-spacing: 4px;

  font-weight: bold;
}

.link {
  margin: 0 1rem;
  transition: all 0.4s;
  color: #fffdff;
  font-size: 1rem;
  line-height: 2rem;
}

.link:hover {
  transform: translateY(-0.2rem);
  color: #cb322b;
}
