.img-container {
  transition: all 0.3s linear;
  display: flex;
  justify-content: center;
  flex-direction: space-bet;
  margin: 0 auto;
}
.img {
  border-radius: 9999px;
  width: 8rem;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.11),
    0 5px 15px 0 rgba(0, 0, 0, 0.08);

  height: auto;
  transition: all 0.3s linear;
}

.link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #fffdff;
  border: 2px solid #fffdff;
  padding: 0.5rem 0.7rem;
  display: inline-block;
  transition: all 0.3s linear;
  cursor: pointer;
}
.link:hover {
  background: #fffdff;
  color: #cb322b;
}
.img-container:hover .link {
  opacity: 1;
}

.footer {
  padding: 1rem;
  text-align: left;
}
.footer h3 {
  text-transform: capitalize;
  margin-bottom: 0;
}
.info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-transform: uppercase;
  align-items: center;
  margin-top: 0.5rem;
}
.info h6,
.info h4 {
  margin-bottom: 0;
}
.country {
  text-transform: capitalize;
  color: #cb322b;
  display: flex;
  align-items: center;
}
.icon {
  margin-right: 0.4rem;
}
.details {
  color: #fff;
  text-transform: uppercase;
  text-align: right;
}
