.blog {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  border-radius: 0.25rem;
  transition: all 0.3s linear;
  background: #f7fafc;
}
.blog:hover {
  box-shadow: 0 20px 25px -5px rrrrrrgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.img-container {
  position: relative;
  background: #cb322b;
  transition: all 0.3s linear;
  border-radius: 0.25rem;
}
.img {
  transition: all 0.3s linear;
  border-radius: 0.25rem;
  max-height: 250px;
}
.img-container:hover .img {
  opacity: 0.3;
}

.link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #fffdff;
  border: 2px solid #fffdff;
  padding: 0.5rem 0.7rem;
  display: inline-block;
  transition: all 0.3s linear;
  cursor: pointer;
}
.link:hover {
  background: #fffdff;
  color: #cb322b;
}
.img-container:hover .link {
  opacity: 1;
}

.footer {
  padding: 1rem 1rem;
  text-align: left;
}
.footer h4 {
  font-size: 1.3rem;
  text-transform: capitalize;
  margin-bottom: 0;
  background-image: linear-gradient(to right, #cb322b, #481e20);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.date {
  position: absolute;
  left: 0;
  top: 75%;
  background: #cb322b;
  padding: 0.3rem 0.5rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
